html, body {
  background-color: #000;
  color: #fff;
  overscroll-behavior: none;
}

#root, #__next {
  background-color: #000;
}


/* body {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
} */
